.btn[data-v-7b0dc4ff]{box-shadow:none;white-space:nowrap;width:100%;--text-color:var(--color-base);--background-color:transparent;justify-content:flex-start}.btn[data-v-7b0dc4ff]:not(:last-child){margin-bottom:var(--gap-xs)}
